body{
	overflow-x: hidden;
	font-family: 'Helvetica';
	padding:0; 
	margin:0;
}
/*fonts
==========*/
@font-face {
  font-family: Helvetica;
  src: url('Helvetica.ttf');
}
@font-face {
  font-family: Helvetica-Bold;
  src: url('Helvetica-Bold.ttf');
}
.helvetica-bold{
	font-family: Helvetica-Bold !important;
}

/*colors
============*/
.black-background{
	background-color: black;
}
.secondary-color{
	color:#FCB855;
}
.secondary-color-background{
	background-color: #FCB855;
}
 /*menu
 =================*/
.nav-link{
	color: white !important;
	font-weight: 500;
	padding: 20px 30px 20px 30px;
	font-family: Helvetica;
	font-size: 13px;
}

nav h4{
	font-size: 24px;
	padding: 8px;
}

/*header
=======================*/
.carousel-item{
	height: 80vh;
}
.carousel-control-prev, .carousel-control-next{
	display: none;
}
.hero-stat{
	height: 60vh;
	font-family: Helvetica;
}
.stat-card{
	position: absolute;
	top: 50px;	
	background-color: #f5c071;
    border-radius: 0px;
    font-family: Helvetica;
 }
.stat-card .card-title{
	font-weight: 800;
	font-size: 28px;
	/*text-decoration: underline;*/
}
.stat-card .btn{
	background: black;
    padding: 12px;
    border-color: none;
    color:white;
}
.prac-section{
	font-family: Helvetica;
	background-color: #ececec ;

}
.prac-section img{
	min-height: 100px;
	max-height: 100px;
	padding: 10px;
}
.prac-section .card{
	/*height: fit-content;*/
    min-height: 400px;
    max-height: 400px;
}
.prac-section h2, .prac-section h5 {
	color:  #f5c071;
}
.filter-secondary{
	filter: invert(98%) sepia(68%) saturate(7226%) hue-rotate(307deg) brightness(104%) contrast(92%);
}
.testimonial{
	/*height: 50vh;*/
}
.testimonial p{
	font-size: 22px;
	font-weight: 600;
	padding: 17px;
}
.clients{
	/*height: 50vh;*/
	background-color: #ececec ;
}
footer{
	 font-family: Helvetica;

}

footer button{
	width: 117px;
    border-radius: 38px !important;
}
.form-control{
	background-color: black;
    border: #FCB855 2px solid;
    border-radius: 12px;
}
footer ul li,footer ul li a {
	 list-style-type: none;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 font-weight: 500;
}

.socials .fab{
	color: white;
	font-size: 30px;
	padding:12px;
}
.social-border{
	border-top:2px solid white;
}
footer ::placeholder {
  color: white;
  font-family: Helvetica;
}
.border-special{
	border-top: 7px solid #bdbdbd;
}
.square {
  height: 50px;
  width: 50px;
  background-color: #f5c071;
}
.number-stats p{
	font-size: 40px;
	color:  #f5c071;
}
.border-p{
	border-top:14px solid white;
	width: 50%;
}
.good-stats{
	position: absolute;
	top: 50px;
}
.good-stat{
	position: absolute;
	top: 240px;
}
.border-prac{
	border-top: 6px solid black;
}
.white-background p{
	font-family: Helvetica;
	font-size: 16px;
	font-weight: 600;
}
.owl-theme .owl-dots .owl-dot span{
	background-color: black !important;
	height: 15px !important;
	width:15px !important;

}
.owl-theme .owl-dots .owl-dot .active span{
	background-color: red !important;
	height: 15px !important;
	width:15px !important;

}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background-color:  #f5c071  !important;
	height: 15px !important;
	width:15px !important;
}
.header-about{
	/*margin: 40px;*/
	/*padding: 100px;*/
	 background: url(https://images.unsplash.com/photo-1575505586569-646b2ca898fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=905&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.border-about{
	border-bottom: 4px solid white;
}
.section-intro{
	padding: 50px;
}
.separator{
	display: inline-block;
    position: relative;
    left: 25px;
    height: 7px;
    width: 50px;
    content: '';
    margin-left: auto;
    margin-right: auto;
    bottom: 6px;
    background:	#FCB855;
}
.about-intro img{
	padding: 30px;
}
.intro-position{
	display: -webkit-flex;
    display: -ms-flexbox;
    /* display: flex; */
    /* width: 100%; */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 27px rgb(0 0 0 / 65%);
    position: relative;
    top: 68px;	


}
.intro-position img{
	height: fit-content;
    object-fit: cover;
	
}
.intro-position-text{
	padding: 67px;
}
.intro-position-text h2{
	border-left: 9px solid  #f5c071;
	padding-left: 10px;
}
.mission-about{
	/*height: 40vh;*/
	background-color: black;	
}

.counter-about{
	/*height: 40vh;*/
	/*background-color: black;	*/
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter-about h3{
  transition: --num 5s;
  counter-set: num var(--num);
  font: 800 40px system-ui;
}
.counter-about h3::after {
  content: counter(num);
}
.counter-about h3:hover {
  --num: 10;
}
.overlay{
 	padding: 150px;
 	background: rgba(0, 0, 0, 0.7);
}